/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 10px;
	border: 15px;
	font-family: 'Fira Sans', sans-serif;
	vertical-align: flex;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: flex;
}

html {
    background-color: #f0ecee;
}

.button {
    align-items: flex-end;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ff4850;
    color: white;
}

h1  {
    color:#ff4850;
    text-align: left;
    font-weight: 400; 
    font-family: fira sans (Google font);
} 

h2 {
    color: #88898B;
    text-align: right;
    font-weight: 300;
    font-family: fira sans (Google font);
}
a, h4 {
    color: #88898b;
}
a:hover {
    color: #CCC;
}
h3 { 
    font-weight: 600px;
}

.adopt {
    color: black;
}

span {
    color: #ff4850;
}
.dogimage {
  width: 600px;
  height: 600px;
  text-emphasis: wrap;
}

@media screen and (min-width:768px){}